* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header {
    height: 70px;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px; 
}

li {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;;
}